<div class="load-sprite">
</div>

<header class="header" role="contentinfo">
  <nav class="menu">
    <a href="index.html">Início</a>
    <a href="sinopse.html">Sinopse</a>
    <a href="galeria.html">Galeria</a>
    <a href="making_of.html">Making Of</a>
    <a href="creditos.html">Créditos</a>
    <a href="contactos.html">Contactos</a>
  </nav>
</header>
