---
title: Contactos
---
<main role="main" class="contactos">
  <div class="imagem" data-vide-bg="assets/videos/contactos" data-vide-options="autoplay: false, loop: false, muted: true, position: 0% 0%">
  </div>

  <div class="conteudo">
    <h2>Contactos</h2>

    <h3>Morada</h3>
    <p>Caminhos do Cinema Português<br>
    Rua Padre António Vieira<br>
    Ed. AAC Piso 1<br>
    3000-315 Coimbra, Portugal</p>

    <h3>Contactos</h3>
    <p>E-mail: <a href="geral@caminhos.info">geral@caminhos.info</a><br>
    Tlf.: [351] 239 851 069<br>
    Tlm.: [351] 911 081 317</p>

    <p><a href="http://caminhos.info/pt/ccp/organizacao/" target="_blank">Outros contactos</a></p>
  </div>
</main>
