---
title: Créditos
---
<main role="main" class="creditos">
  <div class="imagem" data-vide-bg="assets/videos/creditos" data-vide-options="autoplay: false, loop: false, muted: true, position: 0% 0%">
  </div>

  <div class="conteudo">
    <h2>Créditos</h2>

    <p>Curta-Metragem produzida no âmbito da 5.ª edição
    do Curso de Cinema “Cinemalogia ‘da ideia ao filme’”</p>

    <h3>COM</h3>

    <p>ALEXANDRE<br>
    Nelso Azenha</p>

    <p>SÍLVIA<br>
    Nilce Carvalho</p>

    <h4>FIGURAÇÃO ESPECIAL</h4>

    <p>Bart Binnema</p>


    <h4>FIGURAÇÃO</h4>


    <p>André Cardoso<br>
    António Matias<br>
    Emanuel Toledo<br>
    Esmeralda Sousa<br>
    Luísa Nogueira<br>
    Nuno Matos Valente<br></p>

    <h4>ARGUMENTO</h4>
    <p>Com a orientação de Pedro Lopes<br></p>
    <p>André Carvalho<br>
    Francisco Lopes<br>
    Halisson Silva<br>
    Henrique Mota Lourenço<br>
    Irina Castro<br>
    Joana Moreira<br>
    Nuno Matos Valente<br>
    Pedro Correia<br>
    Teresa Colaço<br></p>

    <p>Revisão de
    João Rui Pais</p>

    <h4>REALIZAÇÃO</h4>
    <p>Com a orientação de Nuno Rocha</p>

    <p>André Carvalho<br>
    Daniela Machado<br>
    Emanuel Toledo<br>
    Francisco Lopes<br>
    Gabriela Carvalho<br>
    Gloriya Gostyaeva<br>
    Halisson Silva<br>
    Irina Castro<br>
    Joana Moreira<br>
    Nuno Matos Valente<br>
    Paulo Alípio<br>
    Pedro Correia<br>
    Teresa Colaço<br></p>


    <h4>ASSISTENTE DE REALIZAÇÃO</h4>
    <p>Com a orientação de Nuno Rocha</p>

    <p>Nuno Matos Valente<br>
    Teresa Colaço<br></p>

    <h4>DIRECÇÃO DE FOTOGRAFIA</h4>
    <p>Com a orientação de Manuel Pinto Barros e Nuno Rocha</p>


    <h4>PRIMEIRO ASSISTENTE DE CÂMERA</h4>
    <p>Com a orientação de Manuel Pinto Barros e Nuno Rocha</p>

    <p>André Carvalho<br>
    Emanuel Toledo<br>
    Gloriya Gostyaeva<br>
    Nuno Matos Valente<br>
    Irina Castro<br>
    Gabriela Carvalho<br></p>


    <h4>SEGUNDO ASSISTENTE DE CÂMERA</h4>
    <p>Tiago Santos</p>


    <h4>CHEFE ELETRICISTA</h4>
    <p>Emanuel Toledo</p>

    <h4>ANOTAÇÃO & CONTINUIDADE</h4>
    <p>Com a orientação de Nuno Rocha<br></p>

    <p>Daniela Machado<br>
    Gabriela Carvalho<br>
    Nuno Matos Valente<br></p>


    <h4>DIRECÇÃO DE ARTE</h4>
    <p>Com a orientação de João Torres<br></p>
    <p>Gabriela Carvalho<br>
    Irina Castro<br>
    Joana Moreira<br>
    Teresa Colaço<br></p>


    <h4>DIRECÇÃO DE ACTORES</h4>
    <p>Com a orientação de Nuno Madeira Rodrigues</p>

    <p>Halisson Silva<br>
    Joana Moreira<br></p>


    <h4>DIRECÇÃO DE SOM</h4>
    <p>Com a orientação de Pedro Adamastor e Tiago Santos</p>

    <p>André Carvalho<br>
    Emanuel Toledo<br>
    Gloriya Gostyaeva<br>
    Irina Castro<br>
    Pedro Correia<br></p>


    <h4>FIGURINOS</h4>
    <p>Com a orientação de Susana Jacobetty</p>

    <p>Joana Moreira<br>
    Teresa Colaço<br></p>


    <h4>CARACTERIZAÇÃO</h4>
    <p>Joana Moreira</p>

    <h4>ILUMINAÇÃO</h4>
    <p>Com a orientação de Manuel Pinto Barros</p>

    <p>André Carvalho<br>
    Emanuel Toledo<br>
    Tiago Santos<br></p>

    <p>Apoio de:<br>
    UCV / PIMC Universidade de Coimbra</p>

    <h4>CÂMARA</h4>
    <p>Panasonic HG4</p>

    <p>Apoio de:<br>
    Manuel Pinto Barros<br></p>

    <h4>FOTÓGRAFIA DE CENA</h4>
    <p>Tiago Santos<br>
    Vanessa Gomes<br></p>


    <h4>COORDENAÇÃO DE PÓS-PRODUÇÃO</h4>
    <p>André Cardoso<br>
    Tiago Santos<br></p>


    <h4>MONTAGEM</h4>
    <p>Com a orientação de Edgar Feldman</p>

    <p>Emanuel Toledo<br>
    Halisson Silva<br>
    Joana Moreira<br>
    Nuno Matos Valente<br>
    Teresa Colaço<br></p>

    <h4>CORTE FINAL</h4>
    <p>Com a orientação de Tiago Santos e Marco Amaral</p>
    <p>André Cardoso<br>
    Joana Moreira<br>
    Teresa Colaço<br></p>


    <h4>EDIÇÃO DE SOM</h4>
    <p>Com a orientação de Hugo Leitão</p>

    <p>Alexandre Vale<br>
    André Carvalho<br>
    Emanuel Toledo<br>
    Filipe Pilar<br>
    Francisco Lopes<br>
    Gloriya Gostyaeva<br>
    Halisson Silva<br>
    Joana Moreira<br>
    Joana Oliveira<br></p>


    <h4>MÚSICA</h4>
    <p>Pedro Janela</p>


    <h4>MISTURAS FINAIS</h4>
    <p>Tiago Santos</p>

    <h4>CORREÇÃO DE COR</h4>
    <p>Com a orientação de Marco Amaral</p>

    <p>Alexandre Vale<br>
    André Carvalho<br>
    André Vilela<br>
    Emanuel Toledo<br>
    Francisco Lopes<br>
    Gabriela Carvalho<br>
    Gloriya Gostyaeva<br>
    Halisson Silva<br>
    Irina Castro<br>
    Joana Moreira<br>
    Joana Oliveira<br>
    Pedro Correia<br>
    Tiago Santos<br>
    Teresa Colaço<br></p>

    <h4>DESIGN DE TÍTULO</h4>
    <p>Com a orientação de João Sousa</p>

    <p>André Carvalho<br>
    Emanuel Toledo<br>
    Francisco Lopes<br>
    Gabriela Carvalho<br>
    Gloriya Gostyaeva<br>
    Halisson Silva<br>
    Irina Castro<br>
    Joana Moreira<br>
    Pedro Correia<br>
    Sérgio Fernandes<br>
    Tiago Santos<br>
    Teresa Colaço<br></p>

    <h4>TRADUÇÃO E LEGENGAGEM</h4>
    <p>Com a orientação de Maria José Veiga</p>

    <p>Joana Moreira</p>

    <h4>MAKING OF</h4>
    <p>Zhang Qinzhe</p>

    <h4>DIRECÇÃO DE PRODUÇÃO</h4>
    <p>André Cardoso</p>

    <h4>CHEFE PRODUÇÃO</h4>
    <p>Com a orientação de Isabel Silva</p>

    <p>Irina Castro</p>

    <h4>ASSISTENTES DE PRODUÇÃO</h4>
    <p>Com a orientação de Isabel Silva</p>

    <p>Daniela Machado<br>
    Emanuel Toledo<br>
    Vanessa Gomes<br></p>

    <h4>PRODUÇÃO EXECUTIVA</h4>
    <p>Tiago Santos<br>
    André Cardoso<br>
    Catarina Pinheiro<br></p>

    <h3>FORMAÇÃO NUCLEAR À PRODUÇÃO</h3>

    <h4>HISTÓRIA E LINGUAGEM DO CINEMA</h4>
    <p>Lauro António</p>

    <h4>EQUIPAS, FINANCIAMENTO E ASPECTOS LEGAIS</h4>
    <p>Isabel Silva</p>

    <h4>MARKETING CINEMATOGRÁFICO</h4>
    <p>Saúl Rafael</p>


    <h4>COMUNICAÇÃO DIGITAL</h4>
    <p>Eduardo Nunes</p>

    <h3>FORMAÇÃO COMPLEMENTAR À PRODUÇÃO</h3>

    <h4>EFEITOS ESPECIAIS</h4>
    <p>Fernando Alle</p>

    <h4>CINEMA E VIDEOJOGOS</h4>
    <p>Nelson Zagalo</p>

    <h4>CRÍTICA CINEMATOGRÁFICA</h4>
    <p>João Antunes</p>

    <h3>FORMAÇÃO TRANSVERSAL À PRODUÇÃO</h3>

    <h4>CINEMA E VÍDEO: DESCONSTRUÇÕES PEDAGÓGICAS</h4>
    <p>António Moreira</p>

    <h4>CINEMA CIENTÍFICO EM CONTEXTO EDUCATIVO E ARTÍSTICO</h4>
    <p>Fouad Nejmeddine e Pedro Branco</p>


    <h4>SECRETARIADO</h4>
    <p>Carmen Santos</p>

    <h4>COORDENAÇÃO CIENTÍFICA E DIRECÇÃO GERAL</h4>
    <p>Vítor Ferreira</p>

    <h4>COORDENAÇÃO PEDAGÓGICA</h4>
    <p>António Moreira<br>
    Universidade Aberta<br></p>


    <h4>COORDENAÇÃO GERAL</h4>
    <p>André Cardoso</p>

    <h3>AGRADECIMENTOS</h3>
    <p>Clara Almeida Santos<br>
    António José Mendes<br>
    Carina Gomes<br>
    Frederico Raimundo<br>
    José Manuel Pureza<br>
    José Marques<br>
    João Amaral<br>
    João Paulo Dias<br>
    Manuel e Maria de Lurdes Pinho<br>
    Natércia Coimbra<br>
    Nuno Rodrigues<br>
    Pedro Matias<br>
    Renata Saraiva<br>
    Rita Nabais<br>
    Rita Pais<br>
    Tiffany Pinho<br></p>

    <%= image_tag('logos.png') %>



  </div>
</main>
