---
title: Index
---
<main role="main" class="home" data-vide-bg="assets/videos/banho" data-vide-options="autoplay: true, loop: true, muted: true, position: 0% 0%">
  <div class="titulo">
    <h1>Banho <span>de Paragem</span></h1>
    <h1 class="bottom"><span>Banho</span> de Paragem</h1>
  </div>
</main>
