---
title: Making Of
---
<main role="main" class="making_of">
  <div class="video">
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/3HVrRX0VSYw?rel=0&amp;controls=0&amp;showinfo=0&amp;autoplay=1" frameborder="0" allowfullscreen></iframe>
  </div>
</main>
