---
title: Sinopse
---
<main role="main" class="sinopse">
  <div class="imagem" data-vide-bg="assets/videos/sinopse" data-vide-options="autoplay: false, loop: false, muted: true, position: 0% 0%">
  </div>

  <div class="conteudo">
    <h2>Sinopse</h2>
    <p>Joaquim é um professor universitário e ex-comando da guerra do Ultramar. Após sua a morte o seu filho Alexandre é contactado por uma editora que se encontra a desenvolver uma biografia em homenagem ao professor universitário. Alexandre, aceitando a instigação, faz uma recolha de material do espólio do seu pai, encontrando um curioso negativo fotográfico que poderá alterar a imagem que o seu pai foi transparecendo em vida. Alexandre fica então confrontado por um dilema: entre o revelar da verdade e a honra do seu falecido pai.</p>
  </div>
</main>
